{% extends 'layout.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<img src="nn2.img">
<p>Upload an image of a road sign and let the CNN classify your image!</p>

<p>Possible labels: Stop, Pedestrains, 70km/h Speed Sign, 100km/h Speed Sign, No Overtaking</p>

<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="image">
    <br>
    <br>
  <input class="pure-button pure-button-primary" type="submit" value="Submit">
</form>
{% endblock %}
